.columnContainer {
    flex-direction: column;
}

.columnChildContainer {
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.ordersInput {
    margin-bottom: 10px;
    left: 0;
}

button {
    border-style: none;
    border-radius: 5px;
    margin-top: 10px;
    height: 40px;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.order {
    background-color: #f95959;
    padding-left: 10px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 20px;
    max-height: 1080px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.orderProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.orderProduct {
    justify-content: center;
    align-items: center;
}

.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}